* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #000;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  font-weight: bold;
}

ul {
  list-style: none;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 40px;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.5) 100%);
}

.logo img {
  width: 80px;
  height: 50px;
}

header nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

header nav ul {
  display: flex;
  gap: 20px;
}

header nav ul a {
  display: flex;
  align-items: center;
  gap: 3px;
  text-transform: uppercase;
  font-size: 12px;
}

.avatar {
  display: flex;
  align-items: center;

  gap: 16px;
}
span {
  color: white;
}

video {
  position: fixed;
  top: 0;
  width: 100vw;

  object-fit: cover;
  z-index: -1;
  opacity: 50%;
}

main {
  margin-top: 595px;
  padding: 0 40px 0 20px;
}
.title {
  padding: 0 20px;
  font-size: 20px;
  font-weight: 500;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 36px;
  margin: 20px 0 40px;
  padding: 0 20px;
}

.card {
  box-shadow: 0px 9.16327px 9.16327px 9.16327px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  outline: 2px solid white;
  scale: 1.05;
}

.card img {
  border-radius: 4px;
  width: 100%;
  display: block;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
  border-radius: 8px;
}

.container .logo img {
  width: 100%;
  margin: auto;
}

/* =================================================================*/

.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 20%;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  font-size: 20px;
}

.carousel-prev::before,
.carousel-next::before {
  content: "";
  display: inline-block;
  border: solid white;
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.carousel-prev {
  left: 20px;
}

.carousel-prev::before {
  margin-left: -2px;
}

.carousel-next {
  right: 20px;
}

.carousel-prev::before {
  margin-left: 2px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
}

.carousel-next::before {
  margin-left: -2px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
.carousel-prev:hover,
.carousel-next:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel-prev:focus,
.carousel-next:focus {
  outline: none;
}
